<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login</title>
</head>
<body>
  <h1>Student Login</h1>

  <!-- Student Login Form -->
  <form id="studentLoginForm">
    <label for="studentUsername">Email:</label>
    <input type="text" id="studentUsername" name="username" required>
    <br>
    <label for="studentPassword">Password:</label>
    <input type="password" id="studentPassword" name="password" required>
    <br>
    <button type="submit" onclick="submitForm()">Login</button>
  </form>
  <script>
    function submitForm() {
      // Get form data
      const formData = {
      username: document.getElementById('studentUsername').value,
        password: document.getElementById('studentPassword').value
      };

      // Send data using fetch API
      fetch('/student/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => {
        if (response.ok) {
          return response.text();
        }
        throw new Error('Network response was not ok');
      })
      .then(responseText => {
        window.location.href = '/student/dashboard';
      })
      .catch(error => {
        // Handle error
        console.error('Error during form submission:', error.message);
      });
    }
  </script>
</body>
</html>
